{{/* DEFAULTS */}}
{{ $style             := "github" }}
{{ $showBorder        := "on" }}
{{ $showLineNumbers   := "on" }}
{{ $showFileMeta      := "on" }}
{{ $showCopy          := "on" }}
{{ $fetchFromJsDelivr := "on" }}

<script type="application/javascript" src="https://cdn.jsdelivr.net/gh/fantasticmao/embed-like-gist@master/embed.js?target={{ .Get "url" }}&style={{ $style }}&showBorder={{ $showBorder }}&showLineNumbers={{ $showLineNumbers }}&showFileMeta={{ $showFileMeta }}&showCopy={{ $showCopy }}&fetchFromJsDelivr={{ $fetchFromJsDelivr }}"></script>